* {
    margin: 0px;
    padding: 0px;
}

.navbar-brand {
    padding: 0 40px;
}

.nav-item {
    font-size: 20px;
}

.description {
    width: 500px;
    height: 200px;
    text-align: justify;
}

.container-peliculas {
    display: flex;
}

/* Footer */
.logo img {
    width: 60%;
    margin-top: 60px;
    margin-left: 30px;
}

.footer-col {
    justify-content: justify;
    margin-top: 10px;
}

.footer-col h3{
    font-size: 20px;
    margin-bottom: 30px;
    position: relative;
}

.footer-col h3::before{
    content: '';
    background-color: #6903C3;
    width: 60px;
    height: 3px;
    position: absolute;
    top: 1.5em; 
}

i.fab {
    font-size: 25px;
}

.copyright {
    background-color: #6903C3;
}