* {
    margin: 0px;
    padding: 0px;
}

.navbar-brand {
    padding: 0 40px;
}

.nav-item {
    font-size: 20px;
}

.description {
    width: 500px;
    height: 200px;
    text-align: justify;
}

.container-peliculas {
    display: flex;
}

/* Footer */
.container-footer {
    padding: 20px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 30px 30px;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-areas:
    ". . . ."
    "information-terms information-terms information-terms information-terms"
    "copyright copyright copyright copyright"
    ;  
}

.logo img {
    width: 60%;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

.icons li {
    margin-right: 10px;
}

i.fab {
    font-size: 25px;
}

.information-terminos {
    grid-area: information-terms;
}

.lista-terminos {
    display: flex;
    justify-content: space-around;

}
.copyright {
    grid-area: copyright;
    background-color: #6903C3;
    text-align: center;
}


.col {
    position: relative;
}
.col h3::before{
    content: '';
    background-color: #6903C3;
    width: 80px;
    height: 5px;
    position: absolute;
    top: 1.2em;
}
